
<div class="row">
  <div class="col-xs-12">
    <div align='right'>
      <p>
        <%= link_to 'すべてをCSVでダウンロード', download_csv_path(format: :csv), class: "btn btn-outline btn-success" %>
        <%= link_to '選択してPDFでダウンロード', def_select_path, class: "btn btn-outline btn-success" %>
      </p>
      <p>
        <button type="button" class="btn btn-outline btn-info">すべてをテーブルで表示</button>
        <button type="button" class="btn btn-outline btn-info">Show Table (EN)</button>
      </p>
    </div>
  </div>
</div>

<div class="row" style="height:104px;margin-top:70px">
  <%= form_tag search_path, {method: "get"} do %>
    <div class="col-xs-2"></div>
    <div class="col-xs-8">
      <div class="input-group">
        <%= text_field_tag 'query', params['query'], :class => 'form-control input', :id => "btn-input", :placeholder => '検索キーワード を入力してください' %>
        <span class="input-group-btn">
          <%= submit_tag "　検　索　", :class => "btn btn-info btn", :id => "btn-chat" %>
        </span>
      </div>
    </div>
    <div class="col-xs-2"></div>
  <% end %>
</div>

<div class="panel-body">
  <dl>
  <% if !@results.nil? %>
    <% @results.each do |r| %>
      <dt><a href= <%= "/definitions/#{r._id.to_s}" %>>指標番号: <%= r.numbers['qip'].to_s %></a></dt>
      <dd>指標群: <%= r.group %></dd>
      <dd>名称: <%= r.name %></dd>
      <dd>分母: <%= r.def_summary['denom'] %></dd>
      <dd>分子: <%= r.def_summary['numer'] %></dd>
      <hr>
    <% end %>
  <% end %>
  </dl>
</div>
