<div class="row">
  <div class="col-xs-12">
    <%= form_tag search_path, {method: "get"} do %>
      <h3><b>検索キーワード</b></h3>
      <div class="input-group">
        <%= text_field_tag 'query', params['query'], :class => 'form-control input', :id => "btn-input", :placeholder => '大動脈バルーンパンピング法　人工心肺' %>
        <span class="input-group-btn">
          <%= submit_tag "　検　索　", :class => "btn btn-info btn", :id => "btn-chat" %>
        </span>
      </div>
    <% end %>
  </div>
</div>

<div class="row">
  <div class="col-xs-12">
    <ul>
      <li><%= link_to 'CSVでダウンロード', download_csv_path(format: :csv) %></li>
      <li><%= link_to 'PDFでダウンロード', def_select_path %></li>
    </ul>
  </div>
</div>

<div class="panel-body">
  <dl>
  <% if !@results.nil? %>
    <% @results.each do |r| %>
      <dt><a href= <%= "/definitions/#{r._id.to_s}" %>>指標番号: <%= r.numbers['qip'].to_s %></a></dt>
      <dd>指標群: <%= r.group %></dd>
      <dd>名称: <%= r.name %></dd>
      <dd>分母: <%= r.def_summary['denom'] %></dd>
      <dd>分子: <%= r.def_summary['numer'] %></dd>
      <hr>
    <% end %>
  <% end %>
  </dl>
</div>
