<%= form_tag definitions_path, multipart: true do %>

<div class="col-xs-4">
  <div class="form-group">
    <h4><b>プロジェクト名</b></h4>
    <%= select_tag('project', options_for_select([
      ["QIP", "QIP"], ["済生会", "済生会"], ["日本医師会", "日本医師会"], ["全国自治体病院", "全国自治体病院"]
      ], @definition['プロジェクト名']), :class => "form-control  btn-sm") %>
      <br>
  </div>

  <div class="form-group">
    <h4><b>年度</b></h4>
    <% @years.each do |y| %>
      <% if @definition['年度'].include?(y) %>
        <%= check_box_tag "year_#{y}", true, checked = true %> <%= y %><br>
      <% else %>
        <%= check_box_tag "year_#{y}", true, checked = false %> <%= y %><br>
      <% end %>
    <% end %>
    <br>
  </div>

  <div class="form-group">
    <h4><b>指標番号</b></h4>
    <%= text_field_tag 'number', @definition['指標番号'], :class => 'form-control', :placeholder => '(e.g.) 0548' %>
    <br>
  </div>

  <div class="form-group">
    <h4><b>指標群</b></h4>
    <%= text_field_tag 'group', @definition['指標群'], :class => 'form-control', :placeholder => '(e.g.) 脳卒中' %>
    <br>
  </div>

</div>
<div class="col-xs-11">

  <div class="form-group">
    <h4><b>名称</b></h4>
    <%= text_field_tag 'name', @definition['名称'], :class => 'form-control', :placeholder => '(e.g.) 脳梗塞の診断で入院し、リハビリ治療を受けた症例の割合' %>
    <br>
  </div>

  <div class="form-group">
    <h4><b>意義</b></h4>
    <%= text_field_tag 'meaning', @definition['意義'], :class => 'form-control', :placeholder => '(e.g.) 脳卒中の診断後、できるだけ早期にリハビリを開始することが、機能の早期回復と低下抑制につながる。' %>
    <br>
  </div>

</div>
<div class="col-xs-4">

  <div class="form-group">
    <div id="dataset-form">
      <h4><b>必要なデータセット</b></h4>
      <% @dataset.each_with_index do |d, index| %>
        <% if @definition['必要なデータセット'].include?(d) %>
          <%= check_box_tag "dataset_#{index}", d, checked = true, :class => "btn-sm" %> <%= d %><br>
        <% else %>
          <%= check_box_tag "dataset_#{index}", d, checked = false, :class => "btn-sm" %> <%= d %><br>
        <% end %>
      <% end %>
      <% (@definition['必要なデータセット'] - @dataset).each_with_index do |other, index| %>
        <%= text_field_tag "dataset_others_#{index}", other, :class => 'form-control', :placeholder => 'その他のデータセット名' %>
      <% end %>
    </div>
    <button type="button" class="btn btn-sm btn-success btn-circle" onClick="addDatasetForm(<%= (@definition['必要なデータセット'] - @dataset).size %>)">＋</i></button><nobr> 追加</nobr>
    <br>
  </div>

</div>
<div class="col-xs-11">

  <h4><b>定義の要約</b></h4>

  <div class="form-group">
    <h5>分子</h5>
    <%= text_area_tag 'numer', @definition['定義の要約']['分子'], :class => 'form-control', :placeholder => '(e.g.) 分母のうち、脳血管リハビリテーション治療を受けた症例' %>
    <h5>分母</h5>
    <%= text_area_tag 'denom', @definition['定義の要約']['分母'], :class => 'form-control', :placeholder => '(e.g.) 18歳以上の脳梗塞の診断で入院した症例' %>
    <br>
  </div>

  <h4><b>指標の定義/算出方法</b></h4>
  <h4><b>分母の定義</b></h4>

  <div class="form-group">
    <div id="denom-def">
      <div id="denom-def1">
        <h5><b>定義1</b></h5>
        <h5>説明</h5>
        <%= text_area_tag 'denom_exp1', params['denom_exp1'], :class => 'form-control', :placeholder =>
        '脳血管疾患等リハビリテーションまたはリハビリテーション総合計画評価を受けた症例　レセ電コードに以下のいずれかが含まれる症例' %>
        <h5>CSVデータ(option)</h5>
        <input id="denom_file1" name="denom_file1" type="file">
        <br>
      </div>
    </div>
    <button type="button" class="btn btn-sm btn-success btn-circle" onClick="addDenomDefForm()">＋</i></button><nobr> (定義の追加)</nobr>
    <br><br>
  </div>

  <h4><b>分子の定義</b></h4>

  <div class="form-group">
    <div id="numer-def">
      <div id="numer-def1">
        <h5><b>定義1</b></h5>
        <h5>説明</h5>
        <%= text_area_tag 'numer_exp1', params['numer_exp1'], :class => 'form-control', :placeholder =>
        '脳血管疾患等リハビリテーションまたはリハビリテーション総合計画評価を受けた症例　レセ電コードに以下のいずれかが含まれる症例' %>
        <h5>CSVデータ(option)</h5>
        <input id="numer_file1" name="numer_file1" type="file">
        <br>
      </div>
    </div>
    <button type="button" class="btn btn-sm btn-success btn-circle" onClick="addNumerDefForm()">＋</i></button><nobr> (定義の追加)</nobr>
    <br><br>
  </div>

</div>
<div class="col-xs-9">

  <div class="form-group">
    <h4><b>リスクの調整因子の定義</b></h5>
    <label class="radio-inline">
      <%= radio_button 'factor_definition', @definition['リスクの調整因子の定義'], 'yes', {:onChange => 'showDetail()'} %>あり
    </label>
    <label class="radio-inline">
      <%= radio_button 'factor_definition', @definition['リスクの調整因子の定義'], 'no', {:onChange => 'hideDetail()', :checked => true} %>なし
    </label>
    <div id="factor_definition_detail"></div>
    <br>
  </div>

</div>
<div class="col-xs-4">

  <h4><b>指標の算出方法</b></h4>
  <div class="form-group">
    <h5><b>説明</b></h5>
    <%= text_field_tag 'method_explanation', @definition['指標の算出方法']['説明'], :class => 'form-control', :placeholder => '(e.g.) 分子÷分母' %>
  </div>
  <div class="form-group">
    <h5><b>単位</b></h5>
    <%= text_field_tag 'method_unit', @definition['指標の算出方法']['単位'], :class => 'form-control', :placeholder => '(e.g.) パーセント' %>
    <br>
  </div>

  <h4><b>結果提示時の並び順</b></h5>
  <div class="form-group">
    <label class="radio-inline">
      <%= radio_button 'order', @definition['結果提示時の並び順'], 'asc', {:checked => true} %>昇順
    </label>
    <label class="radio-inline">
      <%= radio_button 'order', @definition['結果提示時の並び順'], 'desc', {} %>降順
    </label>
    <br>
  </div>

</div>
<div class="col-xs-9">

  <h4><b>測定上の限界/解釈上の注意</b></h4>
  <div class="form-group">
    <%= text_area_tag 'warning', @definition['測定上の限界/解釈上の注意'], :class => 'form-control', :placeholder => '(e.g.) 適用外の患者も含まれてしまうため、値が低く算出される可能性がある' %>
    <br>
  </div>

</div>
<div class="col-xs-9">

  <h4><b>参考値</b></h4>
  <div class="form-group">
    <%= text_area_tag 'standard_value', @definition['参考値'], :class => 'form-control', :placeholder => '(e.g.) QIPの過去の指標では60%前後' %>
    <br>
  </div>

</div>
<div class="col-xs-11">

  <h4><b>参考資料</b></h4>
  <div class="form-group">
    <div id="references">
      <textarea class="form-control" id="reference1" name="reference1" type="text" placeholder="American Heart Association. Heart disease and stroke statistics - 2008 update. Dallas (TX): American Heart Association; 2008. 43 p." /></textarea><br>

    </div>
    <button type="button" class="btn btn-sm btn-success btn-circle" onClick="addReferenceForm()">＋</i></button><nobr> 追加<nobr>
    <br>
  </div>

</div>
<div class="col-xs-4">

  <h4><b>定義見直しのタイミング</b></h4>
  <div class="form-group">
    <%= text_field_tag 'review_span', @definition['定義見直しのタイミング'], :class => 'form-control', :placeholder => '(e.g.) 2年に1度' %>
    <br>
  </div>

  <h4><b>指標タイプ</b></h4>
  <div class="form-group">
    <%= select_tag('indicator', options_for_select([
      ["割合", "割合"], ["リスク調整", "リスク調整"], ["平均値", "平均値"], ["中央値", "中央値"]
      ], @definition['指標タイプ']), :class => "form-control  btn-sm") %>
      <br>
      <br>
  </div>

  <% if !@edit_logs.blank? %>
    <h4><b>変更履歴</b></h4>
  <% end %>
  <% @edit_logs.each do |log| %>
    <%= log['変更者'] %>: <%= log['変更メッセージ'] %><br>
  <% end %>

  <h4><b>変更者</b></h4>
  <div class="form-group">
    <%= text_field_tag 'editor', params['editor'], :class => 'form-control', :placeholder => '名前' %>
    <br>
  </div>

</div>

<div class="col-xs-9">
  <h4><b>変更メッセージ</b></h4>
  <div class="form-group">
    <%= text_field_tag 'edit_message', params['edit_message'], :class => 'form-control', :placeholder => '変更メッセージ' %>
    <br>
  </div>
</div>

<div class="col-xs-4">
  <div class="form-group">
    <%= submit_tag "　作　成　", :class => "btn btn-lg btn-success" %>
  </div>
</div>

<% end %>
