<% @definitions.each do |d| %>
  <div class="panel panel-default">
    <div class="panel-heading">
      <label>名称</label>:
      <%= d.name %>
    </div>
    <div class="panel-body">
      <label>指標番号</label>:
      <% PROJECT_NAME_KEYS.each do |prjt| %>
        <% next if d.numbers[prjt[1]].blank? %>
        <br><%= prjt[0] %>: <%= d.numbers[prjt[1]] %>
      <% end %></p>
      <label>年度</label>:
      <% ys = d.years.inject{ |ys, year| ys += ', '+year} %>
        <%= ys %></p>
      <label>更新日</label>: <%= d.created_at %></p>
      <label>指標群</label>: <%= d.group %></p>
      <label>名称</label>: <%= d.name %></p>
      <label>意義</label>: <%= d.meaning %></p>
      <label>必要データセット</label>:
      <% if d.dataset.present? %>
        <% d.dataset.each do |var| %>
          <%= var %>&nbsp;
        <% end %></p>
      <% end %>
      <label>定義の要約</label>:</p>
      <label>分母</label>: <%= d.def_summary['denom'] %></p>
      <label>分子</label>: <%= d.def_summary['numer'] %></p>
      <label>指標の定義算出方法</label>:</p>
      <label>分母の定義</label>:</p>
      <% d.definitions['def_denom'].each do |key,value| %>
        <%= key %>：<%= value['explanation'] %></p>
        <% if value['data'].present? %>
          <div class="col-lg-12">
            <div class="panel panel-default">
              <div class="panel-heading">分母のデータ<%= key %></div>
              <div class="panel-body">
                <table class="table table-striped table-bordered" id="denom<%= key %>_table">
                  <thead>
                    <tr>
                      <% value['data'].each do |i| %>
                        <th><%= i.keys[0] %></th>
                      <% end %>
                    </tr>
                  </thead>
                  <tbody>
                    <% value['data'][0].values[0].length.times do |id| %>
                      <tr>
                        <% value['data'].each do |i| %>
                          <td><%= i.values[0][id] %></td>
                        <% end %>
                      </tr>
                      <% id+=1 %>
                    <% end %>
                  </tbody>
                </table>
              </div>
              <!-- /.panel-body -->
            </div>
            <!-- /.panel -->
          </div>
          <!-- /.col-lg-12 -->
        <% end %>
      <% end %>

      <label>分子の定義</label>:</p>
      <% d.definitions['def_numer'].each do |key,value| %>
        <%= key %>：<%= value['explanation'] %></p>
        <% if value['data'].present? %>
          <div class="col-lg-12">
            <div class="panel panel-default">
              <div class="panel-heading">分子のデータ<%= key %></div>
              <div class="panel-body">
                <table class="table table-striped table-bordered table-hover" id="numer<%= key %>_table">
                  <thead>
                    <tr>
                      <% value['data'].each do |column| %>
                        <th><%= column.keys[0] %></th>
                      <% end %>
                    </tr>
                  </thead>
                  <tbody>
                    <% value['data'][0].values[0].length.times do |id| %>
                    <tr>
                      <% value['data'].each do |i| %>
                      <td><%= i.values[0][id] %></td>
                      <% end %>
                    </tr>
                    <% id+=1 %>
                    <% end %>
                  </tbody>
                </table>
              </div>
              <!-- /.panel-body -->
            </div>
            <!-- /.panel -->
          </div>
          <!-- /.col-lg-12 -->
        <% end %>
      <% end %>
      <label>薬剤一覧の出力</label>: <%= d.drug_output %></p>
      <label>リスク調整因子の条件</label>:</p>
      <% d.def_risks.each do |key,value| %>
        <%= key %>：<%= value['explanation'] %></p>
        <% if value['data'].present? %>
          <div class="col-lg-12">
            <div class="panel panel-default">
              <div class="panel-heading">リスク調整因子のデータ<%= key %></div>
              <div class="panel-body">
                <table class="table table-striped table-bordered table-hover" id="risk<%= key %>_table">
                  <thead>
                    <tr>
                      <% value['data'].each do |column| %>
                        <th><%= column.keys[0] %></th>
                      <% end %>
                    </tr>
                  </thead>
                  <tbody>
                    <% value['data'][0].values[0].length.times do |id| %>
                    <tr>
                      <% value['data'].each do |i| %>
                      <td><%= i.values[0][id] %></td>
                      <% end %>
                    </tr>
                    <% id+=1 %>
                    <% end %>
                  </tbody>
                </table>
              </div>
            </div>
            <!-- /.panel -->
          </div>
          <!-- /.col-lg-12 -->
        <% end %>
      <% end %>
      <label>指標の算出方法(説明)</label>: <%= d['method']['explanation'] %></p>
      <label>指標の算出方法(単位)</label>: <%= d['method']['unit'] %></p>
      <label>測定上の限界・解釈上の注意</label>:</p>
      <% d.annotation.each do |key,value| %>
        <%= key %>：<%= value['explanation'] %></p>
        <% if value['data'].present? %>
          <div class="col-lg-12">
            <div class="panel panel-default">
              <div class="panel-heading">データ<%= key %></div>
              <div class="panel-body">
                <table class="table table-striped table-bordered table-hover" id="anno<%= key %>_table">
                  <thead>
                    <tr>
                      <% value['data'].each do |column| %>
                        <th><%= column.keys[0] %></th>
                      <% end %>
                    </tr>
                  </thead>
                  <tbody>
                    <% value['data'][0].values[0].length.times do |id| %>
                    <tr>
                      <% value['data'].each do |i| %>
                      <td><%= i.values[0][id] %></td>
                      <% end %>
                    </tr>
                    <% id+=1 %>
                    <% end %>
                  </tbody>
                </table>
              </div>
                <!-- /.panel-body -->
            </div>
            <!-- /.panel -->
          </div>
          <!-- /.col-lg-12 -->
        <% end %>
      <% end %>
      <label>参考値</label>:</p>
      <% d.standard_value.each do |key,value| %>
        <%= key %>：<%= value['explanation'] %></p>
        <% if value['data'].present? %>
          <div class="col-lg-12">
            <div class="panel panel-default">
              <div class="panel-heading">データ<%= key %></div>
              <div class="panel-body">
                <table class="table table-striped table-bordered table-hover" id="ref_val<%= key %>_table">
                  <thead>
                    <tr>
                      <% value['data'].each do |column| %>
                        <th><%= column.keys[0] %></th>
                      <% end %>
                    </tr>
                  </thead>
                  <tbody>
                    <% value['data'][0].values[0].length.times do |id| %>
                    <tr>
                      <% value['data'].each do |i| %>
                      <td><%= i.values[0][id] %></td>
                      <% end %>
                    </tr>
                    <% id+=1 %>
                    <% end %>
                  </tbody>
                </table>
              </div>
            </div>
            <!-- /.panel -->
          </div>
          <!-- /.col-lg-12 -->
        <% end %>
      <% end %>
      <label>参考資料</label>:</p>
      <% d.references.each do |key,value| %>
        <%= key %>：<%= value['explanation'] %></p>
        <% if value['data'].present? %>
          <div class="col-lg-12">
            <div class="panel panel-default">
              <div class="panel-heading">データ<%= key %></div>
              <div class="panel-body">
                <table class="table table-striped table-bordered table-hover" id="ref_info<%= key %>_table">
                  <thead>
                    <tr>
                      <% value['data'].each do |column| %>
                        <th><%= column.keys[0] %></th>
                      <% end %>
                    </tr>
                  </thead>
                  <tbody>
                    <% value['data'][0].values[0].length.times do |id| %>
                    <tr>
                      <% value['data'].each do |i| %>
                      <td><%= i.values[0][id] %></td>
                      <% end %>
                    </tr>
                    <% id+=1 %>
                    <% end %>
                  </tbody>
                </table>
              </div>
            </div>
            <!-- /.panel -->
          </div>
          <!-- /.col-lg-12 -->
        <% end %>
      <% end %>
      <label>定義見直しのタイミング</label>: <%= d.review_span %></p>
      <% logs = ChangeLog.where(soft_delete: false).where(log_id: d.log_id).order('_id desc').to_a %>
      <label>最終更新日</label>: <%= logs[0]['created_at'] %></p>
    </div>
  </div>
  <p class='pagebreak'/>
<% end %>
