<div class="panel panel-default">
  <div class="panel-heading">
    <label>名称</label>:
    <%= @definition.name %>
  </div>
  <div class="panel-body">
    <label>指標番号</label>:
    <% PROJECT_NAME_KEYS.each do |prjt| %>
      <% next if @definition.numbers[prjt[1]].blank? %>
      <br><%= prjt[0] %>: <%= @definition.numbers[prjt[1]] %>
    <% end %></p>
    <label>年度</label>:
    <% ys = @definition.years.inject{ |ys, year| ys += ', '+year} %>
      <%= ys %></p>
    <label>更新日</label>: <%= @definition.created_at %></p>
    <label>指標群</label>: <%= @definition.group %></p>
    <label>名称</label>: <%= @definition.name %></p>
    <label>意義</label>: <%= @definition.meaning %></p>
    <label>必要データセット</label>:
    <% if @definition.dataset.present? %>
      <% @definition.dataset.each do |var| %>
        <%= var %>&nbsp;
      <% end %></p>
    <% end %>
    <label>定義の要約</label>:</p>
    <label>分母</label>: <%= @definition.def_summary['denom'] %></p>
    <label>分子</label>: <%= @definition.def_summary['numer'] %></p>
    <label>指標の定義算出方法</label>:</p>
    <label>分母の定義</label>:</p>
    <% @definition.definitions['def_denom'].each do |key,value| %>
      <%= key %>：<%= simple_format(value['explanation']) %></p>
      <% if value['data'].present? %>
        <div class="col-lg-12">
          <div><u>分母のデータ<%= key %></u></div>
          <table class="table table-condensed table-striped table-bordered" id="denom<%= key %>_table">
            <thead>
              <tr>
                <% value['data'].each do |i| %>
                  <th><%= i.keys[0] %></th>
                <% end %>
              </tr>
            </thead>
            <tbody>
              <% value['data'][0].values[0].length.times do |id| %>
                <tr>
                  <% value['data'].each do |i| %>
                    <td><%= i.values[0][id] %></td>
                  <% end %>
                </tr>
                <% id+=1 %>
              <% end %>
            </tbody>
          </table>
        </div>
        <!-- /.col-lg-12 -->
      <% end %>
    <% end %>

    <label>分子の定義</label>:</p>
    <% @definition.definitions['def_numer'].each do |key,value| %>
      <%= key %>：<%= simple_format(value['explanation']) %></p>
      <% if value['data'].present? %>
        <div class="col-lg-12">
          <div><u>分子のデータ<%= key %></u></div>
          <table class="table table-condensed table-striped table-bordered table-hover" id="numer<%= key %>_table">
            <thead>
              <tr>
                <% value['data'].each do |column| %>
                  <th><%= column.keys[0] %></th>
                <% end %>
              </tr>
            </thead>
            <tbody>
              <% value['data'][0].values[0].length.times do |id| %>
              <tr>
                <% value['data'].each do |i| %>
                <td><%= i.values[0][id] %></td>
                <% end %>
              </tr>
              <% id+=1 %>
              <% end %>
            </tbody>
          </table>
        </div>
        <!-- /.col-lg-12 -->
      <% end %>
    <% end %>
    <label>薬剤一覧の出力</label>: <%= @definition.drug_output %></p>
    <label>リスク調整因子の条件</label>:</p>
    <% @definition.def_risks.each do |key,value| %>
      <%= key %>：<%= simple_format(value['explanation']) %></p>
      <% if value['data'].present? %>
        <div class="col-lg-12">
          <div><u>リスク調整因子のデータ<%= key %></u></div>
          <table class="table table-condensed table-striped table-bordered table-hover" id="risk<%= key %>_table">
            <thead>
              <tr>
                <% value['data'].each do |column| %>
                  <th><%= column.keys[0] %></th>
                <% end %>
              </tr>
            </thead>
            <tbody>
              <% value['data'][0].values[0].length.times do |id| %>
              <tr>
                <% value['data'].each do |i| %>
                <td><%= i.values[0][id] %></td>
                <% end %>
              </tr>
              <% id+=1 %>
              <% end %>
            </tbody>
          </table>
        </div>
        <!-- /.col-lg-12 -->
      <% end %>
    <% end %>
    <label>指標の算出方法(説明)</label>: <%= @definition['method']['explanation'] %></p>
    <label>指標の算出方法(単位)</label>: <%= @definition['method']['unit'] %></p>
    <label>結果提示時の並び順</label>: <%= @definition['order'].blank? ? '' : (@definition['order'] == "asc" ? '昇順' : '降順') %></p>
    <label>測定上の限界・解釈上の注意</label>:</p>
    <% @definition.annotation.each do |key,value| %>
      <%= key %>：<%= simple_format(value['explanation']) %></p>
      <% if value['data'].present? %>
        <div class="col-lg-12">
          <div><u>データ<%= key %></u></div>
          <table class="table table-condensed table-striped table-bordered table-hover" id="anno<%= key %>_table">
            <thead>
              <tr>
                <% value['data'].each do |column| %>
                  <th><%= column.keys[0] %></th>
                <% end %>
              </tr>
            </thead>
            <tbody>
              <% value['data'][0].values[0].length.times do |id| %>
              <tr>
                <% value['data'].each do |i| %>
                <td><%= i.values[0][id] %></td>
                <% end %>
              </tr>
              <% id+=1 %>
              <% end %>
            </tbody>
          </table>
        </div>
        <!-- /.col-lg-12 -->
      <% end %>
    <% end %>
    <label>参考値</label>:</p>
    <% @definition.standard_value.each do |key,value| %>
      <%= key %>：<%= simple_format(value['explanation']) %></p>
      <% if value['data'].present? %>
        <div class="col-lg-12">
          <div><u>データ<%= key %></u></div>
          <table class="table table-condensed table-striped table-bordered table-hover" id="ref_val<%= key %>_table">
            <thead>
              <tr>
                <% value['data'].each do |column| %>
                  <th><%= column.keys[0] %></th>
                <% end %>
              </tr>
            </thead>
            <tbody>
              <% value['data'][0].values[0].length.times do |id| %>
              <tr>
                <% value['data'].each do |i| %>
                <td><%= i.values[0][id] %></td>
                <% end %>
              </tr>
              <% id+=1 %>
              <% end %>
            </tbody>
          </table>
        </div>
        <!-- /.col-lg-12 -->
      <% end %>
    <% end %>
    <label>参考資料</label>:</p>
    <% @definition.references.each do |key,value| %>
      <%= key %>：<%= simple_format(value['explanation']) %></p>
      <% if value['data'].present? %>
        <div class="col-lg-12">
          <div><u>データ<%= key %></u></div>
          <table class="table table-condensed table-striped table-bordered table-hover" id="ref_info<%= key %>_table">
            <thead>
              <tr>
                <% value['data'].each do |column| %>
                  <th><%= column.keys[0] %></th>
                <% end %>
              </tr>
            </thead>
            <tbody>
              <% value['data'][0].values[0].length.times do |id| %>
              <tr>
                <% value['data'].each do |i| %>
                <td><%= i.values[0][id] %></td>
                <% end %>
              </tr>
              <% id+=1 %>
              <% end %>
            </tbody>
          </table>
        </div>
        <!-- /.col-lg-12 -->
      <% end %>
    <% end %>
    <label>定義見直しのタイミング</label>: <%= @definition.review_span %></p>
    <label>最終更新日</label>: <%= @logs[0]['created_at'] %></p>
  </div>
</div>
